Client/src/META-INF/wsdl/localhost_9999/webService/BankEmployee.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://BankEmployee/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://BankEmployee/" name="BankEmployee">
<types>
<xsd:schema>
<xsd:import namespace="http://BankEmployee/" schemaLocation="http://localhost:9999/webService/BankEmployee?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteEmployee">
<part name="parameters" element="tns:deleteEmployee"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="getAccounts">
<part name="parameters" element="tns:getAccounts"/>
</message>
<message name="getAccountsResponse">
<part name="parameters" element="tns:getAccountsResponse"/>
</message>
<message name="addEmployee">
<part name="parameters" element="tns:addEmployee"/>
</message>
<portType name="BankEmployee">
<operation name="deleteEmployee">
<input wsam:Action="http://BankEmployee/BankEmployee/deleteEmployee" message="tns:deleteEmployee"/>
</operation>
<operation name="login">
<input wsam:Action="http://BankEmployee/BankEmployee/loginRequest" message="tns:login"/>
<output wsam:Action="http://BankEmployee/BankEmployee/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="getAccounts">
<input wsam:Action="http://BankEmployee/BankEmployee/getAccountsRequest" message="tns:getAccounts"/>
<output wsam:Action="http://BankEmployee/BankEmployee/getAccountsResponse" message="tns:getAccountsResponse"/>
</operation>
<operation name="addEmployee">
<input wsam:Action="http://BankEmployee/BankEmployee/addEmployee" message="tns:addEmployee"/>
</operation>
</portType>
<binding name="BankEmployeePortBinding" type="tns:BankEmployee">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="BankEmployee">
<port name="BankEmployeePort" binding="tns:BankEmployeePortBinding">
<soap:address location="http://localhost:9999/webService/BankEmployee"/>
</port>
</service>
</definitions>