Client/src/META-INF/wsdl/localhost_9999/webService/BankCustomer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://BankCustomer/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://BankCustomer/" name="BankCustomer">
<types>
<xsd:schema>
<xsd:import namespace="http://BankCustomer/" schemaLocation="http://localhost:9999/webService/BankCustomer?xsd=1"/>
</xsd:schema>
</types>
<message name="addCustomer">
<part name="parameters" element="tns:addCustomer"/>
</message>
<message name="updateCustomer">
<part name="parameters" element="tns:updateCustomer"/>
</message>
<message name="getAccounts">
<part name="parameters" element="tns:getAccounts"/>
</message>
<message name="getAccountsResponse">
<part name="parameters" element="tns:getAccountsResponse"/>
</message>
<message name="deleteCustomer">
<part name="parameters" element="tns:deleteCustomer"/>
</message>
<portType name="BankCustomer">
<operation name="addCustomer">
<input wsam:Action="http://BankCustomer/BankCustomer/addCustomer" message="tns:addCustomer"/>
</operation>
<operation name="updateCustomer">
<input wsam:Action="http://BankCustomer/BankCustomer/updateCustomer" message="tns:updateCustomer"/>
</operation>
<operation name="getAccounts">
<input wsam:Action="http://BankCustomer/BankCustomer/getAccountsRequest" message="tns:getAccounts"/>
<output wsam:Action="http://BankCustomer/BankCustomer/getAccountsResponse" message="tns:getAccountsResponse"/>
</operation>
<operation name="deleteCustomer">
<input wsam:Action="http://BankCustomer/BankCustomer/deleteCustomer" message="tns:deleteCustomer"/>
</operation>
</portType>
<binding name="BankCustomerPortBinding" type="tns:BankCustomer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="updateCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getAccounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="BankCustomer">
<port name="BankCustomerPort" binding="tns:BankCustomerPortBinding">
<soap:address location="http://localhost:9999/webService/BankCustomer"/>
</port>
</service>
</definitions>